<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872782655273-o63k78oq12kquda45db9irfvhqpqva49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872782655273-o63k78oq12kquda45db9irfvhqpqva49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>872782655273-ebfi02p8mg7roqal42v7i55r3ii8bno9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7s2sXbXYum-ZrsSBhdBMSxrRAlsI5bkA</string>
	<key>GCM_SENDER_ID</key>
	<string>872782655273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.dalicious.kurrant</string>
	<key>PROJECT_ID</key>
	<string>dalicious-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>dalicious-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872782655273:ios:90e38cf6ccc0d0e3b0d138</string>
</dict>
</plist>